<div class="tb-time-series-chart-panel">
  <div class="tb-time-series-chart-overlay"></div>
  <ng-container *ngIf="widgetComponent.dashboardWidget.showWidgetTitlePanel">
    <ng-container *ngTemplateOutlet="widgetTitlePanel"></ng-container>
  </ng-container>
  <div class="tb-time-series-chart-controls" *ngIf="currentTimeWindow">
    <app-miikue-time-window-selector
      [initialTimeWindow]="currentTimeWindow"
      (timeWindowChange)="onTimeWindowChange($event)">
    </app-miikue-time-window-selector>
  </div>
  <div class="tb-time-series-chart-content" [class]="legendClass">
    <div #echartContainer class="tb-time-series-chart-shape"></div>
    <div *ngIf="showLegend" class="tb-time-series-chart-legend" [class.tb-simple-legend]="!hasLegendStats()">
      <ng-container *ngIf="hasLegendStats(); else simpleLegend">
      <table class="tb-time-series-chart-legend-table vertical">
        <thead>
        <tr>
          <th></th>
          <th class="tb-time-series-chart-legend-type-label right legend legend-row-color"  *ngIf="legendConfig.showMin === true">{{ 'legend.Min' | translate }}</th>
          <th class="tb-time-series-chart-legend-type-label right legend legend-row-color"  *ngIf="legendConfig.showMax === true">{{ 'legend.Max' | translate }}</th>
          <th class="tb-time-series-chart-legend-type-label right legend legend-row-color"  *ngIf="legendConfig.showAvg === true">{{ 'legend.Avg' | translate }}</th>
          <th class="tb-time-series-chart-legend-type-label right legend legend-row-color"  *ngIf="legendConfig.showTotal === true">{{ 'legend.Total' | translate }}</th>
          <th class="tb-time-series-chart-legend-type-label right legend legend-row-color"  *ngIf="legendConfig.showLatest === true">{{ 'legend.Latest' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let legendKey of legendKeys">
          <th>
            <ng-container *ngTemplateOutlet="legendItem; context:{legendKey: legendKey, left: true}"></ng-container>
          </th>
          <td *ngIf="legendConfig.showMin === true" class="tb-time-series-chart-legend-value legend"
              [innerHTML]="legendData.data[legendKey.dataIndex].min | safe: 'html'">
          </td>
          <td *ngIf="legendConfig.showMax === true" class="tb-time-series-chart-legend-value legend"
              [innerHTML]="legendData.data[legendKey.dataIndex].max | safe: 'html'">
          </td>
          <td *ngIf="legendConfig.showAvg === true" class="tb-time-series-chart-legend-value legend"
              [innerHTML]="legendData.data[legendKey.dataIndex].avg | safe: 'html'">
          </td>
          <td *ngIf="legendConfig.showTotal === true" class="tb-time-series-chart-legend-value legend"
              [innerHTML]="legendData.data[legendKey.dataIndex].total | safe: 'html'">
          </td>
          <td *ngIf="legendConfig.showLatest === true" class="tb-time-series-chart-legend-value legend"
              [innerHTML]="legendData.data[legendKey.dataIndex].latest | safe: 'html'">
          </td>
        </tr>
        </tbody>
      </table>
      </ng-container>

      <ng-template #simpleLegend>
        <div class="tb-time-series-chart-simple-legend-items">
          <ng-container *ngFor="let legendKey of legendKeys">
            <ng-container *ngTemplateOutlet="legendItem; context:{legendKey: legendKey, left: false}"></ng-container>
          </ng-container>
        </div>
      </ng-template>
    </div>
    <ng-template #legendItem let-legendKey="legendKey" let-left="left">
      <div class="tb-time-series-chart-legend-item"
           [class.left]="left">
        <div class="tb-time-series-chart-legend-item-label"
             [class.is-hidden]="isLegendSeriesHidden(legendKey)"
             (click)="toggleLegendSeries(legendKey)">
          <div class="tb-time-series-chart-legend-item-label-circle" [style]="{background: legendKey.dataKey.color}"></div>
          <div class="legend legend-label-color" [innerHTML]="legendKey.dataKey.label | safe: 'html'"></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
