:host {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.miikue-chart-engine {
    width: 100%;
    height: 100%;
    min-height: 0;
    min-height: 300px;
    display: flex;
}

.miikue-chart-engine__container {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
}